<section ng-controller="iphoneCtrl" class="main">
	<div class="status-bar">
		<a class="links" onclick="javascript:history.back();" btn-decr>
			<div class="back-btn">
			</div>
		</a>
		<a href="#/phones"class="links">
			<div class="device-name">
				<h6>DEVICE</h6>
				<h5>iPhone</h5>
			</div>
		</a>
		<a href="#/phones/iPhone" class="links">
			<div class="device-name">
				<h6>MODEL</h6>
				<h5>6s</h5>
			</div>
		</a>
	</div>
	<div class="container">
		<div class="title">
			<h2>Excellent, what Color is it?</h2>
		</div>
		<div class="iphones">
			<div class="iphone" ng-repeat="tech in iphones[0].colors">
				<a href="#/phones/iPhone/6s/{{tech.id}}" btn-bar20>
					<h5>{{tech.color}}</h5> 
				</a>
			</div>
		</div>
	</div>
</section>